h2 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: #804000;
}

.card {
    color: white;
    display: flex;
    gap: 12px;
    align-items: center; 
    justify-content: center;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 768px) {
    h2 {
        font-size: 2.5rem; 
    }

    .card {
        flex-direction: column; 
    }

    .card-wrapper {
        padding: 10px; 
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 2rem; 
    }

    .card {
        gap: 8px; 
    }
}




