h2{
    text-align: center;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;;
    color: #804000;
}


.card{
    Color: white;
    display: flex;
    gap: 12;
    align-items: center; 
    justify-content:center;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



