h2{
    text-align: center;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    color: #804000;
}




.card{
    Color: white;
    display: flex;
    gap: 12;
    align-items: center; 
    justify-content:center;
}




