nav{
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    justify-content: space-between;
    background: #1c1c1c;
    color: white;
    padding: 20px 80px;
    border-radius: 2rem;
}

#navBar{

    display: flex;
    align-items: center;
    justify-content: center;

}

#navBar button{
    list-style: none;
    padding: 0 20px;
    position: relative;
    background: #1c1c1c;
    border-bottom: none;
    border: #804000;
}

#navBar button a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    transition: 0.3s ease-in-out;
}

#navBar button a:hover,
#navBar button a.active {
    color: #804000;
}

#navBar button a:hover::after,
#navBar button a.active::after {

content: "";
width: 30%;
height: 2px;
background: #804000;
position: absolute;
bottom: -4px;
left: 20px;
}

